{
  "webserver": {
    "bind": "127.0.0.1",
    "port": 8080
  },
  "database": {
    "type": "sqlite",
    "options": {}
  },
  "registration": {
    "token": {
      "enabled": true
    },
    "google": {
      "enabled": false,
      "registrationLink": ""
    }
  },
  "lang": {
    "finishMessage": "You finished the Challenge Gratulations!",
    "finishWrongMessage": "Sadly you have made some Mistakes. Your guesses are {meters}m away from the right location"
  }
}
