<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <style type="text/css">
        .leaflet-container.crosshair-cursor-enabled {
            cursor:crosshair;
        }
    </style>

</head>
<body>
<div id="map" style="height: 100%"></div>
<script src="/static/map.js"></script>
<script>
    document.map = L.map('map').setView([{{ startLat }}, {{ startLong }}], {{ startZoom }});
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        'attribution':  'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        'useCache': true
    }).addTo(document.map);
    document.markers = [];
    document.map.on('click', mapClick)
    reloadMarkers(JSON.parse('{{ positions }}'));
    if (location.hash && location.hash !== "" && location.hash !== "#"){
        setEdit(parseInt(location.hash.substr(1)))
    }
    L.easyButton('<img style="padding-top: 0.2rem;" src="https://api.iconify.design/icons8:finish-flag.svg">', function(btn, map){
        window.open("/check", "_blank")
    }).addTo( document.map );
</script>
</body>
</html>
